<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/allpage.css' %}">
    </head>
    <body  style = "text-align:center">
        <form action = "recovery" method="post">
            {% csrf_token %}
            <label>Password </label><br>
            <input type = "password" name = "password" id = "password" placeholder="password" required><br><br>
            <label> Confirm Password </label><br>
            <input type="password" name = "confirmpass" id = "confirmpass"  placeholder="confirm password"required><br><br>
            <button id = "submit" onclick="functionclick()"> Register </button>
        </form>
        <script>
            function functionclick(){
                console.log(document.getElementById("password").value);
                if(document.getElementById("password").value != document.getElementById("confirmpass").value ){
                alert("password does not match");
            }
            }
        </script>
    </body>
</html>